---
import BaseLayout from "../layouts/BaseLayout.astro";

const prefabs = await Astro.glob('../content/prefabs/*.md');

const getSlug = (file) => {
    return file.split('/').pop().split('.').shift();
}
---

<BaseLayout title="BadFL">
    <h2>Prefabs ({ prefabs.length })</h2>

    <ul>
        {
            prefabs.map(prefab => {
                return (
                    <li>
                        <a href={ `/prefab/${ getSlug(prefab.file) }` }>{ prefab.frontmatter['name'] }</a>
                    </li>
                )
            })
        }
    </ul>
</BaseLayout>